#title {
  margin-top: 2vw;
  margin-bottom: 1vw;
  width: fit-content;
  height: 4vh;
  font-weight: normal;
  font-size: 34px;
  line-height: 32px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.grid-container{
  margin-bottom: 30px;
  height:100%;
}

text {
  z-index: 1000;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail {
  background-color: white !important;
  color: #8f7878 !important;
  font-size: 0.75vw !important;
  font-weight: bold !important;
  border-radius: 20px !important;
  margin-left: 6vw !important;
}

.detail:hover {
  background-color: lightgray !important;
}

.accept {
  border-color: #7d9fec !important;
  background-color: #7d9fec !important;
  font-size: 0.75vw !important;
  border-radius: 20px !important;
  margin-left: 1vw !important;
  font-weight: bold !important;
}

.accept:hover {
  background-color: green !important;
  border-color: green !important;
}

.decline {
  background-color: #f3bd56 !important;
  border-color: #f3bd56 !important;
  font-size: 0.75vw !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  margin-left: 3px !important;
}

.decline:hover {
  background-color: red !important;
  border-color: red !important;
}

#upcoming-meetings{
  padding-bottom:20px;
}

#tentative-meetings{
  padding-bottom:20px;
}

.tentative-meetings-title,
.upcoming-meetings-title {
  padding: 10px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  height: 4vh;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  text-decoration: underline;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2vw;
  width: 25vw;
  height: 18vh;
  margin-bottom: 2vw;
}

.card-title {
  width: fit-content;
  height: 2vh;
  padding: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 32px;
  margin-bottom: 1vw;
  /* identical to box height, or 89% */
  color: #ffffff;
}

#start-time,
#end-time,
#location {
  width: 20vw;
  height: 4vh;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 3px;
  color: #ffffff;
}

.card {
  margin-top: 3vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#card1,
#card2 {
  height: 23vh;
  width: 34.5vw;
  margin-top: 6vw;
  border-radius: 20px;
  background: #505050;
}

#card1:last-of-type,
#card2:last-of-type {
  margin-bottom: 90px;
}
/* Column Banner Styling */

#tentativeCol {
  height: 0vh;
  position: absolute;
  left: 0%;
  width: 50vw;
  text-align: left;
  margin-left: 1vw;
  margin-right: 5vw;
}

#upcomingCol {
  margin-left: 30vw;
  width: 50vw;
  height: 27vh;
  text-align: left;
  border-left-width: 5px;
}

.card-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: max-content;
  margin-bottom: 4vw;
}

#calendar-icon {
  margin-left: 1vw;
  height: 18vh;
  width: 10vw;
  padding-top: 2vw;
  color: white;
}

#clock-icon,
#location-icon {
  margin-right: 0.5vw;
  height: 2vh;
  width: 1vw;
  color: white;
}

.container {
  display: flex;
  gap: 20vw;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-square-wrapper {
  margin-right: 2vw !important;
}
