<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Welcome to Schedule Sync!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img
      id="logo"
      mat-card-image
      src="../../assets/images/logo.jpg"
      alt="Schedule Sync Logo"
    />
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button id="login" (click)="signInWithGoogle()">
      <img src="../../assets/images/btn_google_dark_normal_ios.svg" />Sign in
      with Google
    </button>
  </mat-card-actions>
</mat-card>
